* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101010;
    color: #b2b2b2;
    font-family: monospace;
    font-size: 1.2rem;
}

.terminal-main {
    width: 100%;
    padding: 1rem;
}

.resume-dl {
    color: yellow;
}

.contact-link {
    color: #0099ff;
}

.projects-link {
    color: #ff0080;
}

.terminal-prompt {
    display: flex;
}

.terminal-input {
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
    color: #b2b2b2;
    font-family: monospace;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
}

.terminal-output {
    display: flex;
    flex-direction: column-reverse;
}